<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{#if title}}
    		<title>{{title}}</title>
    {{else}}
    		<title>TaskApp</title>
  	{{/if}}	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

	<!-- Latest compiled JavaScript -->
    <link href="./css/toastr.css" rel="stylesheet"/>
    <script src="./js/toastr.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <script src="./js/main.js"></script>
    <script src="/reload/reload.js"></script> 

	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
<div class="body-content">
<section class="hero-img"></section>    
<section>
<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
   <button class="menu-icon" type="button" data-toggle></button>
   <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="realEstateMenu">
   <div class="top-bar-left">
      <ul class="menu" data-responsive-menu="accordion">
         <li class="menu-text">Task App</li>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/docs">Documentation</a></li>
        {{#if info.isValidated}}
            <li><a href="/dashboard">Dashboard</a></li>
        {{else}}
        {{/if}}
      </ul>
   </div>
   <div class="top-bar-right">
      <ul class="menu">
        {{#if info.isValidated}}
            <li><a href="/logout" class="button">Logout</a></li>
        {{else}}
            <li><a href="#login" onclick="goToRegisterForm()">Register</a></li>
            <li><a href="#login" onclick="goToLoginForm()" class="button">Login</a></li>
        {{/if}}
      </ul>
   </div>
</div>
<br>
</section>
    {{{body}}}

</div> 
</body>
<footer>
	<div class="copyright">
		<p> &copy; Slopie Designs | Design by <a href="http://Slopie.Design/" >Slopie Designs</a></p>
	</div>	
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
</script>
</footer>
</html>