<div class="row">
   <div class="medium-7 large-6 columns">
      <h1>Close Your Eyes and Open Your Mind</h1>
      <p class="subheader">There is beauty in space, and it is orderly. There is no weather, and there is regularity. It is predictable. Everything in space obeys the laws of physics. If you know these laws, and obey them, space will treat you kindly.</p>
      <button class="button">Take a Tour</button>
      <button class="button">Start a free trial</button>
   </div>
   <div class="show-for-large large-3 columns">
      <img src="https://placehold.it/400x370&text=PSR1257 + 12 C" alt="picture of space">
   </div>
   <div id="login" class="login medium-5 large-3 columns">
      <div class="callout secondary">
        <form id="register-form" action="/register" method="post" onsubmit="event.preventDefault(); validateMyForm();" style="display:none;">
            <input type="email" name="email" placeholder="E-mail" required="">
            <input type="text" name="username" placeholder="Username" required="">
            <input type="password" name="password" placeholder="Password" id="password" required="" >
            <input type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required="">
            <button type="submit" class="button" value="Register">Register</button> Login <a href="javascript:void(0);" id="switch-to-login" onlcick="goToLoginForm()">here</a>
        </form>
        <form id="login-form" action="/login" method="post">
            <input type="email" name="logemail" placeholder="E-mail" required="">
            <input type="password" name="logpassword" placeholder="Password" required="">
            <button type="submit" class="button" value="Login">Login</button>
            <div class="form-text">Register <a href="javascript:void(0);" onclick="goToRegisterForm()">here</a></div>
		</form>        
      </div>
   </div>
</div>
<div class="row column">
   <hr>
</div>
<div class="row column">
   <p class="lead">Your Tasks</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
   {{#each tasks}}
    <div class="callout">
      <p class="lead">{{this.name}}</p>
      <p class="subheader">{{this.description}}</p>
      <p>Due Date: {{this.dueDate}}</p>
      <p class="task-utils">
         <button class="complete success button" data-task-id="{{this._id}}"> Mark as Complete</button>
         <button type="button" class="delete alert button" data-task-id="{{this._id}}">Delete</button>
      </p>
    </div>
   {{else}}
      <p class="empty">No content</p>
   {{/each}}
{{#if error}}
   <script type="text/javascript">
   var error = "{{error}}"
   toastr.error(error,"Error")
   </script>
{{else}}
   <script>console.log('no errors')</script>
{{/if}}
   